@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
body {
  font-family: Lato, Arial;
  color: #666;
  -webkit-font-smoothing: antialiased;
}
a {
  font-family: Lato, Arial;
  -webkit-font-smoothing: antialiased;
}
a:focus {
  outline: none;
}
div.content {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
}
.form-item,
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}
/*# sourceMappingURL=base.css.map */