section {
  position: relative;
  padding-bottom: 90px;
}
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
  overflow: hidden;
}
/*# sourceMappingURL=layout.css.map */