{#
/**
 * @file
 * Theme override to display a single page.
 */
#}
{{ page.content }}
{% if is_admin %}
<div class="oleose-colors">
  <a class="oleose-color oleose-color-freeze" href="{{ front }}?color=freeze" title="Freeze"></a>
  <a class="oleose-color oleose-color-eco" href="{{ front }}?color=eco" title="Eco"></a>
  <a class="oleose-color oleose-color-berry" href="{{ front }}?color=berry" title="Berry"></a>
</div>
{% endif %}

