{#
/**
* @file
* Theme override to display status messages.
*/
#}
{% if message_list | length > 0 %}
  <div id="messages-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{ 'Thank you!' | t }}</h4>
        </div>
        <div class="modal-body">
          {% for type, messages in message_list %}
            {% if messages|length > 1 %}
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% else %}
              {{ messages|first }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
