@import '../_vars';
@import '../_lib';

section#about {

  position: relative;
  .about-item {
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    color: @color-light-grey;
    i.fa {
      border-radius: 50%;
      padding-top: 35px;
      height: 104px;
      width: 104px;
      transition: all .25s ease-in-out;
    }
    @media all and (max-width: @screen-sm-max) {
      margin-bottom: 50px;
    }
    @media all and (max-width: @screen-xs-max) {
      max-width: 400px;
      margin: 15px auto;
    }
  }
}
