@import '../_vars.less';
@import '../_lib.less';

.btn {
  border-radius: 3em;
  box-shadow: none;
  padding: 5px 25px;
  &.btn-primary {
    border:2px solid @color-white;
    background: none;
    color: @color-white;
    &:hover {
      color: @color-white;
    }
  }
  &.btn-default {
    border:none;
    .background-gradient(180deg, @color-white, darken(@color-white, 20%));
  }
  &.btn-lg {
    padding: 10px 25px;
  }
  &:hover {
    transition: all .25s ease-in-out;
  }
}
