@import '../_vars';

.oleose-colors {
  position: fixed;
  bottom: 0;
  border-style: double;
  border-color: #555;
  border-width: 3px 0 0 3px;
  border-radius: 0 5px 0 0;
  .oleose-color {
    width: 18px;
    height: 18px;
    float: left;
    display: block;
    border-right: solid 1px #555;
  }
  .oleose-color-freeze {
    background-color: #66cdcc;
    &:hover {
      background-color: #336799;
    }
  }
  .oleose-color-eco {
    background-color: #66cc99;
    &:hover {
      background-color: #339999;
    }
  }
  .oleose-color-berry {
    background-color: #cc6698;
    &:hover {
      background-color: #6b396c;
    }
  }
}

