@import '../_vars';

section#demo {
  .video-container {
    border: 1px solid lighten(@color-light-grey, 10%);
    min-height:   430px;
    overflow: hidden;
    position: relative;
    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
