@import '../_vars';
@import '../_lib';

section#features {
  .media {
    i.fa {
      border-radius: 50%;
      padding: 20px;
      width: 2.6em;
      text-align: center;
      transition: all .25s ease-in-out;
    }
    .media-heading {
      padding-top: 10px;
      font-weight: 300;
    }
    .media-body {
      color: @color-light-grey;
    }
    &.feature {
      margin-top: 25px;
    }
    text-align: center;
  }

  @media all and (min-width: @screen-sm-min) {
    .media {
      .media-body {
        text-align: left;
      }
      a  {
        float: left;
        margin: 0 15px;
      }
    }
  }

  @media all and (min-width: @screen-md-min) {
    .left {
      .media-body {
        text-align: right;
      }
      a {
        float: right;
      }
    }
  }

  img {
    margin: 0 auto 20px;
  }

}
