@import '../_vars';
@import '../_lib';

footer {
  padding: 80px 0;
  text-align: center;
  a > img {
    width: 100px;
  }
  .social {
    display: block;
    margin-top: 30px;
    a {
      margin: 0 8px;
      padding: 15px;
      border-radius: 50%;
      display: inline-block;
      transition: all .25s ease-in-out;
      i {
        width: 1em;
      }
    }
  }
  .rights {
    margin-top: 30px;
    a {
      text-decoration: underline;
      transition: all .25s ease-in-out;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
