@import '../_lib';

section#get-app {

  .background-cover();
  padding: 70px 0;
  .platforms {
    margin: 5px auto 120px auto;
    text-align: center;
    .btn {
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }

  .hanging-phone {
    position: absolute;
    right: 0;
    z-index: 0;
    bottom: -70px;
  }

}
