@import '../_vars';
@import '../_lib';

.section-heading {
  margin: 40px 0 65px 0;
  text-align: center;
  h1 {
    display: inline-block;
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 0;
  }
  p {
    font-size: 25px;
    color: @color-light-grey;
    font-weight: 300;
  }
  .divider {
    &:after {
      content: '';
      position: relative;
      height: 4px;
      width: 60px;
      display: block;
      text-align: center;
      margin:13px auto;
      border-radius: 5em;
    }
  }
  &.inverse {
    h1, p {
      color:@color-white;
    }
    .divider:after {
      background: @color-white;
    }
  }
  @media (max-width: @screen-sm-max) {
    margin: 30px 0 40px 0;
  }
}
