@import '../_vars';
@import '../_lib';

.main-carousel,
.carousel-inner,
.slide {
  height: 100%;
  margin: 0;
  font-family: @font-stack;
}

.main-carousel {

  .carousel-control {
    background-image: none;
  }

  .slide-inner {
    width: 1110px;
    position: absolute;
    display: flex;
    bottom: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .large {
    font-size: 65px;
  }

  .medium {
    font-size: 34px;
  }

  .small {
    font-size: 17px;
  }

  @media all and (max-width: @screen-sm-max), (orientation: portrait) {

    .large {
      font-size: 54px;
    }

    .medium {
      font-size: 28px;
    }

    .small {
      font-size: 16px;
    }

  }

  @media all and (max-width: @screen-xs-max), (orientation: portrait) {

    .large {
      font-size: 48px;
    }

    .medium {
      font-size: 36px;
    }

  }

  .white {
    color: @color-white;
  }

  .light {
    font-weight: 300;
  }

  .carousel-indicators li {
    width: 18px;
    height: 18px;
    margin: 5px;
    transition: .25s;
    &:hover:not(.active) {
      transform: scale(1.35);
    }
  }

  .lr {
    opacity: 0;
  }

}

// -- Slide 1.
.main-carousel .slide-1 {

  // Layer 1 - main image.
  .keyframes(lr-1-1-in, {
    0% {
      opacity: 1;
      .transform(translateX(-2000px));
    }
    100% {
      opacity: 1;
      .transform(translateX(0));
    }
  });

  .keyframes(lr-1-1-out, {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  });

  .lr-1 {
    margin: auto auto 0 0;
    .animate-layer(lr-1-1-in .5s .25s ease-out forwards,  lr-1-1-out .5s 8.5s ease-in forwards )
  }

  // Layer mobile.
  .lr-mobile {
    margin: auto 130px auto auto;
    .bottom {
      margin-top: 25px;
    }
  }

  // Layer 2 - "Oleose".
  .keyframes(lr-1-2-in, {
    0% {
      opacity: 0;
      .transform(translateY(-100px));
    }
    100% {
      opacity: 1;
      .transform(translateY(0));
    }
  });


  .keyframes(lr-1-2-out, {
    0% {
      opacity: 1;
      .transform(translateY(0));
    }
    100% {
      opacity: 0;
      .transform(translateY(-100px));
    }
  });

  .lr-2 {
    margin-right: 10px;
    display: inline-block;
    .animate-layer(lr-1-2-in .25s .75s ease-out forwards, lr-1-2-out .5s 8.5s ease-in forwards);
  }

  // Layer 3 - "App".
  .keyframes(lr-1-3-in, {
    0% {
      opacity: 0;
      .transform(translateX(50px));
    }
    100% {
      opacity: 1;
      .transform(translateX(0));
    }
  });

  .keyframes(lr-1-3-out, {
    0% {
      opacity: 1;
      .transform(translateX(0));
    }
    100% {
      opacity: 0;
      .transform(translateX(100px));
    }
  });

  .lr-3 {
    display: inline-block;
    .animate-layer(lr-1-3-in .25s .9s ease-out forwards, lr-1-3-out .25s 8.5s ease-in forwards);
  }

  // Layer 4 - "Landing Theme".
  .keyframes(lr-1-4-in, {
    0% {
      opacity: 0;
      .transform(translateY(50px));
    }
    100% {
      opacity: 1;
      .transform(translateY(0));
    }
  });

  .keyframes(lr-1-4-out, {
    0% {
      opacity: 1;
      .transform(translateY(0));
    }
    100% {
      opacity: 0;
      .transform(translateY(100px));
    }
  });

  .lr-4 {
    margin-bottom: 15px;
    .animate-layer(lr-1-4-in .25s 1.05s ease-out forwards, lr-1-4-out .25s 8.5s ease-in forwards);
  }

  // Layer 5 - "Learn More".
  .keyframes(lr-1-5-in, {
    0% {
      opacity: 0;
      .transform(translateY(50px));
    }
    100% {
      opacity: 1;
      .transform(translateY(0));
    }
  });

  .keyframes(lr-1-5-out, {
    0% {
      opacity: 1;
      .transform(translateY(0));
    }
    100% {
      opacity: 0;
      .transform(translateY(100px));
    }
  });

  .lr-5 {
    margin-right: 15px;
    .animate-layer(lr-1-5-in .35s 1.15s ease-out forwards, lr-1-5-out .25s 8.5s ease-in forwards);
  }

  // Layer 6.
  .keyframes(lr-1-6-in, {
    0% {
      opacity: 0;
      .transform(translateX(50px));
    }
    100% {
      opacity: 1;
      .transform(translateX(0));
    }
  });

  .keyframes(lr-1-6-out, {
    0% {
      opacity: 1;
      .transform(translateX(0));
    }
    100% {
      opacity: 0;
      .transform(translateX(100px));
    }
  });

  .lr-6 {
    .animate-layer(lr-1-6-in .35s 1.15s ease-out forwards, lr-1-6-out .25s 8.5s ease-out forwards);
  }

  @media all and (max-width: @screen-md-max), (orientation: portrait) {
    .lr-1 {
      display: none;
    }
    .lr-mobile {
      position: static;
      margin: auto;
      div {
        text-align: center;
      }
    }
  }

}

// -- Slide 2.
.main-carousel .slide-2 {

  .slide-inner {
    flex-direction: column;
  }

  // Layer 1 - main image.
  .keyframes(lr-2-1-in, {
    0% {
      opacity: 0;
      .transform(translateY(500px));
    }
    100% {
      opacity: 1;
      .transform(translateY(0));
    }
  });

  .keyframes(lr-2-1-out, {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  });

  .lr-1 {
    position: absolute;
    bottom: 0;
    left: 55px;
    .animate-layer(lr-2-1-in .5s .25s ease-out forwards, lr-2-1-out .5s 8.25s ease-in forwards);
  }

  .lr-mobile {
    margin: auto;
    text-align: center;
  }

  // Layer 2 - "Every Pixel".
  .keyframes(lr-2-2-in, {
    0% {
      opacity: 0;
      .transform(translateY(-50px) scale(.25));
    }
    85% {
      .transform(translateY(5px) scale(1.05));
    }
    100% {
      opacity: 1;
      .transform(translateY(0) scale(1));
    }
  });

  .keyframes(lr-2-2-out, {
    0% {
      opacity: 1;
      .transform(translateY(0));
    }
    100% {
      opacity: 0;
      .transform(translateY(-50px));
    }
  });

  .lr-2 {
    .animate-layer(lr-2-2-in .5s .5s ease-out forwards, lr-2-2-out 0.25s 8.75s ease-in forwards);
  }

  @media all and (max-width: @screen-md-max), (orientation: portrait) {
    .lr-1 {
      display: none;
    }
    .lr-mobile {
      margin: auto;
    }
  }

}

// Slide 3.
.main-carousel .slide-3 {

  // Layer 1 - main image.
  .keyframes(lr-3-1-in, {
    0% {
      opacity: 0;
      .transform(translate(50px, 100px) scale(.75));
    }
    100% {
      opacity: 1;
      .transform(translate(0, 0) scale(1));
    }
  });

  .keyframes(lr-3-1-out, {
    0% {
      opacity: 1;
      .transform(translate(0, 0) scale(1));
    }
    100% {
      opacity: 0;
      .transform(translate(25px, 10px) scale(.75));
    }
  });

  .lr-1 {
     margin: auto auto auto 15px;
    .animate-layer(lr-3-1-in .5s .25s ease-out forwards, lr-3-1-out .5s 8.5s ease-in forwards);
  }


  // Layer mobile.
  .lr-mobile {
    margin: auto 15px auto auto;
  }

  // Layer 2 - "Powerful Responsive".
  .keyframes(lr-3-2-in, {
    0% {
      opacity: 0;
      .transform(translateX(-100px));
    }
    100% {
      opacity: 1;
      .transform(translateX(0));
    }
  });

  .keyframes(lr-3-2-out, {
    0% {
      opacity: 1;
      .transform(translateX(0));
    }
    100% {
      opacity: 0;
      .transform(translateX(-100px));
    }
  });

  .lr-2 {
    .animate-layer(lr-3-2-in .5s .25s ease-out forwards, lr-3-2-out .25s 8.5s ease-in forwards);
  }

  // Layer 3 - "App Landing Page".
  .keyframes(lr-3-3-in, {
    0% {
      opacity: 0;
      .transform(translateY(-50px));
    }
    100% {
      opacity: 1;
      .transform(translateY(0));
    }
  });

  .keyframes(lr-3-3-out, {
    0% {
      opacity: 1;
      .transform(translateY(0));
    }
    100% {
      opacity: 0;
      .transform(translateY(-100px));
    }
  });

  .lr-3 {
    .animate-layer(lr-3-3-in .25s .5s ease-out forwards, lr-3-3-out .25s 8.5s ease-in forwards)
  }

  // Layer 4 - long text.
  .keyframes(lr-3-4-in, {
    0% {
      opacity: 0;
      .transform(translateY(50px));
    }
    100% {
      opacity: 1;
      .transform(translateY(0));
    }
  });

  .keyframes(lr-3-4-out, {
    0% {
      opacity: 1;
      .transform(translateX(0));
    }
    100% {
      opacity: 0;
      .transform(translateY(50px));
    }
  });

  .lr-4 {
    line-height: 28px;
    margin: 15px auto;
    max-width: 350px;
    .animate-layer(lr-3-4-in .25s .6s ease-out forwards, lr-3-4-out .25s 8.5s ease-in forwards)
  }

  // Layer 5.
  .keyframes(lr-3-5-in, {
    0% {
      opacity: 0;
      .transform(translateX(-100px));
    }
    100% {
      opacity: 1;
      .transform(translateX(0));
    }
  });

  .keyframes(lr-3-5-out, {
    0% {
      opacity: 1;
      .transform(translateX(0));
    }
    100% {
      opacity: 0;
      .transform(translateX(100px));
    }
  });

  .lr-5 {
    .animate-layer(lr-3-5-in .55s .7s ease-out forwards, lr-3-5-out .5s 8.5s ease-in forwards)
  }

  @media all and (max-width: @screen-md-max), (orientation: portrait) {

    .slide-inner {
      flex-direction: column;
    }

    .lr-1 {
      display: none;
    }
    .lr-4 p {
      margin: 0 auto;
    }
    .lr-mobile {
      margin: auto 50px;
      text-align: center;
    }
  }

}
