@import '../_vars';
@import '../_lib';

.main-navbar {

  @logo-width: 222px;
  @logo-height: 81px;

  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 30px;
  border: none;
  transition: .5s all;

  .navbar-brand {
    width: @logo-width;
    height: @logo-height;
    margin-top: 18px;
    position: relative;
    padding: 0;
  }
  .logo {
    height: 100%;
    position: absolute;
    bottom: 0;
  }

  .navbar-toggle {
    color: @color-white;
    margin-top: 25px;
    margin-right: 35px;
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  .navbar-collapse {
    margin-top: 65px;
    max-height: 500px;
    .nav {
      li a {
        font-size: 17px;
        color: @color-white;
        &:after {
          content: '';
          display: block;
          margin-top: 5px;
          height: 4px;
          border-radius: 2px;
          background-color: transparent;
          transition: .75s background-color;
        }
        &:hover:after {
          background-color: @color-white;
        }
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    .navbar-brand {
      margin-top: 37px;
      width: .75 * @logo-width;
      height: .75 * @logo-height;
    }

    .navbar-collapse {
      .nav li a {
        padding-left: 10px;
        padding-right: 10px;
        color: @color-white;
      }
    }
  }

  // -- Collapsed.
  @media (max-width: @screen-xs-max) {

    .navbar-header {
      .navbar-brand {
        margin-left: 35px;
        margin-top: 0;
      }
    }

    .navbar-collapse {
      &.collapsing,
      &.in {
        margin-top: 10px;
        padding: 0;
      }
      .nav {
        margin: 0;
        li {
          border-bottom: solid 1px #eee;
          a {
            padding: 15px 25px;
            color: @color-white;
            &:after {
              display: none;
            }
          }
        }
      }
    }

  }

  // -- Scrolled.
  &.scrolled {
    background-color: rgba(255, 255, 255, .85);
    padding-top: 0;
    padding-bottom: 0;
    .navbar-header {
      margin-top: 0;
      padding: 13px 25px;
      .navbar-brand {
        margin-left: 0;
        margin-top: 0;
        width: .6 * @logo-width;
        height: .6 * @logo-height;
        .logo {
          left: 50%;
          transform: translate(-50%);
        }
      }
    }

    .navbar-collapse {
      margin-top: 15px;
    }

    // Collapsed and scrolled.
    @media (max-width: @screen-xs-max) {
      .navbar-header {
        .navbar-brand {
          margin-top: 6px;
          margin-left: 0;
          .logo {
            left: 0;
            transform: none;
          }
        }
        .navbar-toggle {
          margin-top: 12px;
          margin-right: 0;
        }
      }

      .navbar-collapse {
        margin-top: 0;
      }
    }

  }

}
