@import '../_vars';
@import '../_lib';

section#reviews {
  .background-cover();

  .carousel {
    margin: 0 auto;
  }

  .review {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 15px;
    width: 80%;
    .review-person {
      width: 110px;
      margin: 0 auto 25px auto;
      img {
        border-radius: 50%;
      }
    }
    .review-comment {
      border-radius: 10px;
      position: relative;
      padding: 5px 40px 20px;
      h3 {
        margin-bottom: 15px;
      }
      p {
        font-size: 16px;
        color: @color-light-grey;
        span {
          margin-left: 10px;
        }
      }
      &:before {
        content: ' ';
        left: 50%;
        top: 0;
        height: 0;
        width: 0;
        position: absolute;
        border-style: solid;
        border-color: transparent;
        border-width: 15px;
        margin-left: -15px;
        margin-top: -30px;
      }
      &:after {
        content: ' ';
        right: 100%;
        top: 50%;
        height: 10px;
        width: 10px;
        position: absolute;
        border-style: solid;
        border-color: transparent;
        border-width: 15px;
        margin-top: -10px;
        display: none;
      }
    }

  }

  .carousel-indicators {
    bottom: -75px;
    li {
      width: 16px;
      height: 16px;
      margin: 5px;
      transition: .25s;
      &:hover:not(.active) {
        transform: scale(1.35);
      }
    }
  }

  @media screen and (min-width: @screen-sm-min) {
    .carousel {
      width: 100%;
    }

    .review {
      flex-direction: row;
      .review-person {
        margin: auto 30px auto 0;
        flex-shrink: 0;
      }
      .review-comment {
        flex-grow: 1;
        flex-shrink: 1;
        &:before {
          display: none;
        }
        &:after {
          display: block;
        }
      }
    }
  }

}
