@import '../_vars';
@import '../_lib';

section#screens {
  .slider {
    margin: 30px 100px;
    div {
      img {
        border-radius: 20px;
        padding: 10px;
        display: inline;
      }
      h4 {
        text-align: center;
        margin-top: 40px;
        font-size: 16px;
      }
    }
  }

  .slick-prev {
    top: 43%;
    left: -35px;
    &:before {
      float: left;
    }
  }
  .slick-next {
    top: 43%;
    right: -35px;
    &:before {
      float: right;
    }
  }

  .slick-slide {
    text-align: center;
    outline: none;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 36px;
  }

}
