@import '../_lib';

div[data-animate] {
  opacity: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.keyframes(fadeInUp, {
  0% {
    opacity: 0;
    .transform(translateY(20px));
  }
  100% {
    opacity: 1;
    .transform(translateY(0));
  }
});

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.keyframes(fadeInDown, {
  0% {
    opacity: 0;
    .transform(translateY(-20px));
  }
  100% {
    opacity: 1;
    .transform(translateY(0));
  }
});

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.keyframes(fadeInLeft, {
  0% {
    opacity: 0;
    .transform(translateX(-20px));
  }
  100% {
    opacity: 1;
    .transform(translateX(0));
  }
});

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.keyframes(fadeInRight, {
  0% {
    opacity: 0;
    .transform(translateX(20px));
  }
  100% {
    opacity: 1;
    .transform(translateX(0));
  }
});

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

