@import '../_vars';
@import '../_lib';

section#support {

  .form-text,
  .form-email,
  .form-textarea {
    border-radius: 1em;
    line-height: 40px;
    padding: 10px 20px;
    border: 1px solid gray;
    font-weight: 300;
    outline: none;
    color: #333;
    font-family: arial, sans-serif;
    &:focus {

    }
  }
  .form-text {
    height: 40px;
    border-radius: 2em;
  }

  padding: 0 0 150px 0;
  .media {
    margin-bottom: 10px;
    i.fa {
      border-radius: 50%;
      padding: 10px;
      transition: all .25s ease-in-out;
      width: 1.9em;
      text-align: center;
    }
    .media-heading {
      padding-top: 15px;
      font-weight: 300;
      a {
        font-weight: 400;
      }
    }
  }

  form {
    margin-top: 30px;
  }

  @media (min-width: @screen-md-min) {
    form {
      margin-top: -10px;
    }
  }

  @media (max-width: @screen-xs-max) {
    .form-submit {
      width: 100%;
    }
  }

}
