section#about {
  position: relative;
}
section#about .about-item {
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  color: #999;
}
section#about .about-item i.fa {
  border-radius: 50%;
  padding-top: 35px;
  height: 104px;
  width: 104px;
  transition: all 0.25s ease-in-out;
}
@media all and (max-width: 991px) {
  section#about .about-item {
    margin-bottom: 50px;
  }
}
@media all and (max-width: 767px) {
  section#about .about-item {
    max-width: 400px;
    margin: 15px auto;
  }
}
/*# sourceMappingURL=about.css.map */