.btn {
  border-radius: 3em;
  box-shadow: none;
  padding: 5px 25px;
}
.btn.btn-primary {
  border: 2px solid #fff;
  background: none;
  color: #fff;
}
.btn.btn-primary:hover {
  color: #fff;
}
.btn.btn-default {
  border: none;
  background: #fff;
  background: -moz-linear-gradient(180deg, #fff 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fff), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(180deg, #fff 0%, #cccccc 100%);
  background: -o-linear-gradient(180deg, #fff 0%, #cccccc 100%);
  background: -ms-linear-gradient(180deg, #fff 0%, #cccccc 100%);
  background: linear-gradient(180deg, #fff 0%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#cccccc, GradientType=1);
}
.btn.btn-lg {
  padding: 10px 25px;
}
.btn:hover {
  transition: all 0.25s ease-in-out;
}
/*# sourceMappingURL=button.css.map */