section#demo .video-container {
  border: 1px solid #b3b3b3;
  min-height: 430px;
  overflow: hidden;
  position: relative;
}
section#demo .video-container iframe,
section#demo .video-container object,
section#demo .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=demo.css.map */