section#features .media {
  text-align: center;
}
section#features .media i.fa {
  border-radius: 50%;
  padding: 20px;
  width: 2.6em;
  text-align: center;
  transition: all 0.25s ease-in-out;
}
section#features .media .media-heading {
  padding-top: 10px;
  font-weight: 300;
}
section#features .media .media-body {
  color: #999;
}
section#features .media.feature {
  margin-top: 25px;
}
@media all and (min-width: 768px) {
  section#features .media .media-body {
    text-align: left;
  }
  section#features .media a {
    float: left;
    margin: 0 15px;
  }
}
@media all and (min-width: 992px) {
  section#features .left .media-body {
    text-align: right;
  }
  section#features .left a {
    float: right;
  }
}
section#features img {
  margin: 0 auto 20px;
}
/*# sourceMappingURL=features.css.map */