section#get-app {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding: 70px 0;
}
section#get-app .platforms {
  margin: 5px auto 120px auto;
  text-align: center;
}
section#get-app .platforms .btn {
  margin-right: 10px;
  margin-bottom: 20px;
}
section#get-app .hanging-phone {
  position: absolute;
  right: 0;
  z-index: 0;
  bottom: -70px;
}
/*# sourceMappingURL=get-app.css.map */