.section-heading {
  margin: 40px 0 65px 0;
  text-align: center;
}
.section-heading h1 {
  display: inline-block;
  font-size: 55px;
  font-weight: 300;
  margin-bottom: 0;
}
.section-heading p {
  font-size: 25px;
  color: #999;
  font-weight: 300;
}
.section-heading .divider:after {
  content: '';
  position: relative;
  height: 4px;
  width: 60px;
  display: block;
  text-align: center;
  margin: 13px auto;
  border-radius: 5em;
}
.section-heading.inverse h1,
.section-heading.inverse p {
  color: #fff;
}
.section-heading.inverse .divider:after {
  background: #fff;
}
@media (max-width: 991px) {
  .section-heading {
    margin: 30px 0 40px 0;
  }
}
/*# sourceMappingURL=heading.css.map */