.main-carousel,
.carousel-inner,
.slide {
  height: 100%;
  margin: 0;
  font-family: Lato, Arial;
}
.main-carousel .carousel-control {
  background-image: none;
}
.main-carousel .slide-inner {
  width: 1110px;
  position: absolute;
  display: flex;
  bottom: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-carousel .large {
  font-size: 65px;
}
.main-carousel .medium {
  font-size: 34px;
}
.main-carousel .small {
  font-size: 17px;
}
@media all and (max-width: 991px), (orientation: portrait) {
  .main-carousel .large {
    font-size: 54px;
  }
  .main-carousel .medium {
    font-size: 28px;
  }
  .main-carousel .small {
    font-size: 16px;
  }
}
@media all and (max-width: 767px), (orientation: portrait) {
  .main-carousel .large {
    font-size: 48px;
  }
  .main-carousel .medium {
    font-size: 36px;
  }
}
.main-carousel .white {
  color: #fff;
}
.main-carousel .light {
  font-weight: 300;
}
.main-carousel .carousel-indicators li {
  width: 18px;
  height: 18px;
  margin: 5px;
  transition: .25s;
}
.main-carousel .carousel-indicators li:hover:not(.active) {
  transform: scale(1.35);
}
.main-carousel .lr {
  opacity: 0;
}
@-webkit-keyframes lr-1-1-in {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes lr-1-1-in {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes lr-1-1-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lr-1-1-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.main-carousel .slide-1 .lr-1 {
  margin: auto auto 0 0;
}
.main-carousel .slide-1 .lr-1.lr-animation {
  -webkit-animation: lr-1-1-in 0.5s 0.25s ease-out forwards, lr-1-1-out 0.5s 8.5s ease-in forwards;
  animation: lr-1-1-in 0.5s 0.25s ease-out forwards, lr-1-1-out 0.5s 8.5s ease-in forwards;
}
.main-carousel .slide-1 .lr-mobile {
  margin: auto 130px auto auto;
}
.main-carousel .slide-1 .lr-mobile .bottom {
  margin-top: 25px;
}
@-webkit-keyframes lr-1-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes lr-1-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes lr-1-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes lr-1-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
.main-carousel .slide-1 .lr-2 {
  margin-right: 10px;
  display: inline-block;
}
.main-carousel .slide-1 .lr-2.lr-animation {
  -webkit-animation: lr-1-2-in 0.25s 0.75s ease-out forwards, lr-1-2-out 0.5s 8.5s ease-in forwards;
  animation: lr-1-2-in 0.25s 0.75s ease-out forwards, lr-1-2-out 0.5s 8.5s ease-in forwards;
}
@-webkit-keyframes lr-1-3-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes lr-1-3-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes lr-1-3-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes lr-1-3-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
}
.main-carousel .slide-1 .lr-3 {
  display: inline-block;
}
.main-carousel .slide-1 .lr-3.lr-animation {
  -webkit-animation: lr-1-3-in 0.25s 0.9s ease-out forwards, lr-1-3-out 0.25s 8.5s ease-in forwards;
  animation: lr-1-3-in 0.25s 0.9s ease-out forwards, lr-1-3-out 0.25s 8.5s ease-in forwards;
}
@-webkit-keyframes lr-1-4-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes lr-1-4-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes lr-1-4-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes lr-1-4-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
}
.main-carousel .slide-1 .lr-4 {
  margin-bottom: 15px;
}
.main-carousel .slide-1 .lr-4.lr-animation {
  -webkit-animation: lr-1-4-in 0.25s 1.05s ease-out forwards, lr-1-4-out 0.25s 8.5s ease-in forwards;
  animation: lr-1-4-in 0.25s 1.05s ease-out forwards, lr-1-4-out 0.25s 8.5s ease-in forwards;
}
@-webkit-keyframes lr-1-5-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes lr-1-5-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes lr-1-5-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes lr-1-5-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
}
.main-carousel .slide-1 .lr-5 {
  margin-right: 15px;
}
.main-carousel .slide-1 .lr-5.lr-animation {
  -webkit-animation: lr-1-5-in 0.35s 1.15s ease-out forwards, lr-1-5-out 0.25s 8.5s ease-in forwards;
  animation: lr-1-5-in 0.35s 1.15s ease-out forwards, lr-1-5-out 0.25s 8.5s ease-in forwards;
}
@-webkit-keyframes lr-1-6-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes lr-1-6-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes lr-1-6-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes lr-1-6-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
}
.main-carousel .slide-1 .lr-6.lr-animation {
  -webkit-animation: lr-1-6-in 0.35s 1.15s ease-out forwards, lr-1-6-out 0.25s 8.5s ease-out forwards;
  animation: lr-1-6-in 0.35s 1.15s ease-out forwards, lr-1-6-out 0.25s 8.5s ease-out forwards;
}
@media all and (max-width: 1199px), (orientation: portrait) {
  .main-carousel .slide-1 .lr-1 {
    display: none;
  }
  .main-carousel .slide-1 .lr-mobile {
    position: static;
    margin: auto;
  }
  .main-carousel .slide-1 .lr-mobile div {
    text-align: center;
  }
}
.main-carousel .slide-2 .slide-inner {
  flex-direction: column;
}
@-webkit-keyframes lr-2-1-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(500px);
    -ms-transform: translateY(500px);
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes lr-2-1-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(500px);
    -ms-transform: translateY(500px);
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes lr-2-1-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lr-2-1-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.main-carousel .slide-2 .lr-1 {
  position: absolute;
  bottom: 0;
  left: 55px;
}
.main-carousel .slide-2 .lr-1.lr-animation {
  -webkit-animation: lr-2-1-in 0.5s 0.25s ease-out forwards, lr-2-1-out 0.5s 8.25s ease-in forwards;
  animation: lr-2-1-in 0.5s 0.25s ease-out forwards, lr-2-1-out 0.5s 8.25s ease-in forwards;
}
.main-carousel .slide-2 .lr-mobile {
  margin: auto;
  text-align: center;
}
@-webkit-keyframes lr-2-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px) scale(0.25);
    -ms-transform: translateY(-50px) scale(0.25);
    transform: translateY(-50px) scale(0.25);
  }
  85% {
    -webkit-transform: translateY(5px) scale(1.05);
    -ms-transform: translateY(5px) scale(1.05);
    transform: translateY(5px) scale(1.05);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}
@keyframes lr-2-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px) scale(0.25);
    -ms-transform: translateY(-50px) scale(0.25);
    transform: translateY(-50px) scale(0.25);
  }
  85% {
    -webkit-transform: translateY(5px) scale(1.05);
    -ms-transform: translateY(5px) scale(1.05);
    transform: translateY(5px) scale(1.05);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}
@-webkit-keyframes lr-2-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}
@keyframes lr-2-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}
.main-carousel .slide-2 .lr-2.lr-animation {
  -webkit-animation: lr-2-2-in 0.5s 0.5s ease-out forwards, lr-2-2-out 0.25s 8.75s ease-in forwards;
  animation: lr-2-2-in 0.5s 0.5s ease-out forwards, lr-2-2-out 0.25s 8.75s ease-in forwards;
}
@media all and (max-width: 1199px), (orientation: portrait) {
  .main-carousel .slide-2 .lr-1 {
    display: none;
  }
  .main-carousel .slide-2 .lr-mobile {
    margin: auto;
  }
}
@-webkit-keyframes lr-3-1-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(50px, 100px) scale(0.75);
    -ms-transform: translate(50px, 100px) scale(0.75);
    transform: translate(50px, 100px) scale(0.75);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
}
@keyframes lr-3-1-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(50px, 100px) scale(0.75);
    -ms-transform: translate(50px, 100px) scale(0.75);
    transform: translate(50px, 100px) scale(0.75);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
}
@-webkit-keyframes lr-3-1-out {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(25px, 10px) scale(0.75);
    -ms-transform: translate(25px, 10px) scale(0.75);
    transform: translate(25px, 10px) scale(0.75);
  }
}
@keyframes lr-3-1-out {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(25px, 10px) scale(0.75);
    -ms-transform: translate(25px, 10px) scale(0.75);
    transform: translate(25px, 10px) scale(0.75);
  }
}
.main-carousel .slide-3 .lr-1 {
  margin: auto auto auto 15px;
}
.main-carousel .slide-3 .lr-1.lr-animation {
  -webkit-animation: lr-3-1-in 0.5s 0.25s ease-out forwards, lr-3-1-out 0.5s 8.5s ease-in forwards;
  animation: lr-3-1-in 0.5s 0.25s ease-out forwards, lr-3-1-out 0.5s 8.5s ease-in forwards;
}
.main-carousel .slide-3 .lr-mobile {
  margin: auto 15px auto auto;
}
@-webkit-keyframes lr-3-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes lr-3-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes lr-3-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes lr-3-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
.main-carousel .slide-3 .lr-2.lr-animation {
  -webkit-animation: lr-3-2-in 0.5s 0.25s ease-out forwards, lr-3-2-out 0.25s 8.5s ease-in forwards;
  animation: lr-3-2-in 0.5s 0.25s ease-out forwards, lr-3-2-out 0.25s 8.5s ease-in forwards;
}
@-webkit-keyframes lr-3-3-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes lr-3-3-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes lr-3-3-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes lr-3-3-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
.main-carousel .slide-3 .lr-3.lr-animation {
  -webkit-animation: lr-3-3-in 0.25s 0.5s ease-out forwards, lr-3-3-out 0.25s 8.5s ease-in forwards;
  animation: lr-3-3-in 0.25s 0.5s ease-out forwards, lr-3-3-out 0.25s 8.5s ease-in forwards;
}
@-webkit-keyframes lr-3-4-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes lr-3-4-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes lr-3-4-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
}
@keyframes lr-3-4-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
}
.main-carousel .slide-3 .lr-4 {
  line-height: 28px;
  margin: 15px auto;
  max-width: 350px;
}
.main-carousel .slide-3 .lr-4.lr-animation {
  -webkit-animation: lr-3-4-in 0.25s 0.6s ease-out forwards, lr-3-4-out 0.25s 8.5s ease-in forwards;
  animation: lr-3-4-in 0.25s 0.6s ease-out forwards, lr-3-4-out 0.25s 8.5s ease-in forwards;
}
@-webkit-keyframes lr-3-5-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes lr-3-5-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes lr-3-5-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes lr-3-5-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
}
.main-carousel .slide-3 .lr-5.lr-animation {
  -webkit-animation: lr-3-5-in 0.55s 0.7s ease-out forwards, lr-3-5-out 0.5s 8.5s ease-in forwards;
  animation: lr-3-5-in 0.55s 0.7s ease-out forwards, lr-3-5-out 0.5s 8.5s ease-in forwards;
}
@media all and (max-width: 1199px), (orientation: portrait) {
  .main-carousel .slide-3 .slide-inner {
    flex-direction: column;
  }
  .main-carousel .slide-3 .lr-1 {
    display: none;
  }
  .main-carousel .slide-3 .lr-4 p {
    margin: 0 auto;
  }
  .main-carousel .slide-3 .lr-mobile {
    margin: auto 50px;
    text-align: center;
  }
}
/*# sourceMappingURL=main-carousel.css.map */