.main-navbar {
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 30px;
  border: none;
  transition: .5s all;
}
.main-navbar .navbar-brand {
  width: 222px;
  height: 81px;
  margin-top: 18px;
  position: relative;
  padding: 0;
}
.main-navbar .logo {
  height: 100%;
  position: absolute;
  bottom: 0;
}
.main-navbar .navbar-toggle {
  color: #fff;
  margin-top: 25px;
  margin-right: 35px;
}
.main-navbar .navbar-toggle:hover,
.main-navbar .navbar-toggle:focus {
  background-color: transparent;
}
.main-navbar .navbar-collapse {
  margin-top: 65px;
  max-height: 500px;
}
.main-navbar .navbar-collapse .nav li a {
  font-size: 17px;
  color: #fff;
}
.main-navbar .navbar-collapse .nav li a:after {
  content: '';
  display: block;
  margin-top: 5px;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  transition: 0.75s background-color;
}
.main-navbar .navbar-collapse .nav li a:hover:after {
  background-color: #fff;
}
@media (max-width: 991px) {
  .main-navbar .navbar-brand {
    margin-top: 37px;
    width: 166.5px;
    height: 60.75px;
  }
  .main-navbar .navbar-collapse .nav li a {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
  }
}
@media (max-width: 767px) {
  .main-navbar .navbar-header .navbar-brand {
    margin-left: 35px;
    margin-top: 0;
  }
  .main-navbar .navbar-collapse.collapsing,
  .main-navbar .navbar-collapse.in {
    margin-top: 10px;
    padding: 0;
  }
  .main-navbar .navbar-collapse .nav {
    margin: 0;
  }
  .main-navbar .navbar-collapse .nav li {
    border-bottom: solid 1px #eee;
  }
  .main-navbar .navbar-collapse .nav li a {
    padding: 15px 25px;
    color: #fff;
  }
  .main-navbar .navbar-collapse .nav li a:after {
    display: none;
  }
}
.main-navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.85);
  padding-top: 0;
  padding-bottom: 0;
}
.main-navbar.scrolled .navbar-header {
  margin-top: 0;
  padding: 13px 25px;
}
.main-navbar.scrolled .navbar-header .navbar-brand {
  margin-left: 0;
  margin-top: 0;
  width: 133.2px;
  height: 48.6px;
}
.main-navbar.scrolled .navbar-header .navbar-brand .logo {
  left: 50%;
  transform: translate(-50%);
}
.main-navbar.scrolled .navbar-collapse {
  margin-top: 15px;
}
@media (max-width: 767px) {
  .main-navbar.scrolled .navbar-header .navbar-brand {
    margin-top: 6px;
    margin-left: 0;
  }
  .main-navbar.scrolled .navbar-header .navbar-brand .logo {
    left: 0;
    transform: none;
  }
  .main-navbar.scrolled .navbar-header .navbar-toggle {
    margin-top: 12px;
    margin-right: 0;
  }
  .main-navbar.scrolled .navbar-collapse {
    margin-top: 0;
  }
}
/*# sourceMappingURL=navbar.css.map */