section#reviews {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section#reviews .carousel {
  margin: 0 auto;
}
section#reviews .review {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 15px;
  width: 80%;
}
section#reviews .review .review-person {
  width: 110px;
  margin: 0 auto 25px auto;
}
section#reviews .review .review-person img {
  border-radius: 50%;
}
section#reviews .review .review-comment {
  border-radius: 10px;
  position: relative;
  padding: 5px 40px 20px;
}
section#reviews .review .review-comment h3 {
  margin-bottom: 15px;
}
section#reviews .review .review-comment p {
  font-size: 16px;
  color: #999;
}
section#reviews .review .review-comment p span {
  margin-left: 10px;
}
section#reviews .review .review-comment:before {
  content: ' ';
  left: 50%;
  top: 0;
  height: 0;
  width: 0;
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-width: 15px;
  margin-left: -15px;
  margin-top: -30px;
}
section#reviews .review .review-comment:after {
  content: ' ';
  right: 100%;
  top: 50%;
  height: 10px;
  width: 10px;
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-width: 15px;
  margin-top: -10px;
  display: none;
}
section#reviews .carousel-indicators {
  bottom: -75px;
}
section#reviews .carousel-indicators li {
  width: 16px;
  height: 16px;
  margin: 5px;
  transition: .25s;
}
section#reviews .carousel-indicators li:hover:not(.active) {
  transform: scale(1.35);
}
@media screen and (min-width: 768px) {
  section#reviews .carousel {
    width: 100%;
  }
  section#reviews .review {
    flex-direction: row;
  }
  section#reviews .review .review-person {
    margin: auto 30px auto 0;
    flex-shrink: 0;
  }
  section#reviews .review .review-comment {
    flex-grow: 1;
    flex-shrink: 1;
  }
  section#reviews .review .review-comment:before {
    display: none;
  }
  section#reviews .review .review-comment:after {
    display: block;
  }
}
/*# sourceMappingURL=reviews.css.map */