section#screens .slider {
  margin: 30px 100px;
}
section#screens .slider div img {
  border-radius: 20px;
  padding: 10px;
  display: inline;
}
section#screens .slider div h4 {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}
section#screens .slick-prev {
  top: 43%;
  left: -35px;
}
section#screens .slick-prev:before {
  float: left;
}
section#screens .slick-next {
  top: 43%;
  right: -35px;
}
section#screens .slick-next:before {
  float: right;
}
section#screens .slick-slide {
  text-align: center;
  outline: none;
}
section#screens .slick-prev:before,
section#screens .slick-next:before {
  font-size: 36px;
}
/*# sourceMappingURL=screens.css.map */