section#support {
  padding: 0 0 150px 0;
}
section#support .form-text,
section#support .form-email,
section#support .form-textarea {
  border-radius: 1em;
  line-height: 40px;
  padding: 10px 20px;
  border: 1px solid gray;
  font-weight: 300;
  outline: none;
  color: #333;
  font-family: arial, sans-serif;
}
section#support .form-text {
  height: 40px;
  border-radius: 2em;
}
section#support .media {
  margin-bottom: 10px;
}
section#support .media i.fa {
  border-radius: 50%;
  padding: 10px;
  transition: all 0.25s ease-in-out;
  width: 1.9em;
  text-align: center;
}
section#support .media .media-heading {
  padding-top: 15px;
  font-weight: 300;
}
section#support .media .media-heading a {
  font-weight: 400;
}
section#support form {
  margin-top: 30px;
}
@media (min-width: 992px) {
  section#support form {
    margin-top: -10px;
  }
}
@media (max-width: 767px) {
  section#support .form-submit {
    width: 100%;
  }
}
/*# sourceMappingURL=support.css.map */