@import '../_vars';
@import '../_lib';

// Header.
header{
  .background-gradient(-45deg, @color-base, @color-base-dark);

  .main-navbar {

    &.scrolled {
      .navbar-header {
        background-color: @color-base-dark;
      }
      box-shadow: 0 2px 5px @color-base-dark;
      @media (min-width: @screen-sm-min) {
        .nav li a {
          color: @color-base-dark;
          &:hover:after {
            background-color: @color-base-dark;
          }
        }
      }
    }

  }

  @media (max-width: @screen-xs-max) {
    .navbar-collapse {
      &.collapsing,
      &.in {
        background-color: @color-base-dark;
      }
    }
  }

}

section{
  .section-heading{
    .divider{
      &:after{
        background: @color-base;
      }
    }
  }
}

// About section.
section#about {
  .about-item {
    i.fa {
      border: 2px solid @color-base;
      color: @color-base;
    }
    &:hover {
      i.fa {
        color: @color-white;
        background: @color-base;
      }
      h3 {
        color: @color-base;
      }
    }
  }
}

// Features section.
section#features {
  background: #f6f6f6;
  header {
    h1 {
      &:after {
        background: @color-base;
      }
    }
  }
  .media {
    i.fa {
      border: 2px solid @color-base;
      color: @color-base;
    }
    &:hover {
      i.fa {
        color: @color-white;
        background: @color-base;
      }
      h3 {
        color: @color-base;
      }
    }
    &.active {
      i.fa {
        color: @color-white;
        background: @color-base;
      }
      .media-heading{
        color: @color-base;
      }
    }
  }
}

// Reviews section.
section#reviews {
  background: url(@image-reviews);
  header {
    color: @color-white;
    h1 {
      &:after {
        background: @color-white;
      }
    }
  }
  .review {
    .review-person {
      img {
        border: 3px solid @color-white;
      }
    }
    .review-comment {
      background: @color-white;
      h3 {
        color: @color-base;
      }
      p {
        span {
          i {
            color: @color-base;
          }
        }
      }
      &:before {
        border-bottom-color: #fff;
      }
      &:after {
        border-right-color: #fff;
      }
    }
  }
  .slick-dots {
    li {
      button {
        background: @color-white;
        border:2px solid @color-white;
      }
      &.slick-active {
        button {
          background: @color-base;
        }
      }
    }
  }
}

// Screens section.
section#screens {
  header {
    h1 {
      &:after {
        background: @color-base;
      }
    }
  }
  .slider {
    div {
      img {
        border: 2px solid lighten(@color-light-grey, 30%);
      }
      h4 {
        color: @color-light-grey;
      }
    }

    .slick-prev:before, .slick-next:before {
      color: @color-base;
    }
  }
}

// Demo section.
section#demo {
  background: #f6f6f6;
  header {
    h1 {
      &:after {
        background: @color-base;
      }
    }
  }
}

// Get app section.
section#get-app {
  background: url(@image-getapp);
  header {
    color: @color-white;
    h1 {
      &:after {
        background: @color-white;
      }
    }
  }
  .platforms {
    .media {
      border: 2px solid @color-white;
      color: @color-white;
      a {
        i {
          color: @color-white;
        }
        div.media-body {
          color: @color-white;
        }
      }
      &:hover {
        background: @color-white;
        a {
          i, div.media-body {
            color: @color-base;
          }
        }
      }
    }
  }
}

// Support section.
section#support {

  .form-text,
  .form-email,
  .form-textarea {
    border-color: @color-base;
    &:focus {
      box-shadow: 1px 1px 2px @color-base,  -1px -1px 2px @color-base;
    }
  }
  header {
    h1 {
      &:after {
        background: @color-base;
      }
    }
  }
  .media {
    i.fa {
      border: 2px solid @color-base;
      color: @color-base;
    }
    a {
      color: @color-base;
    }
    &:hover {
      i.fa {
        color: @color-white;
        background: @color-base;
      }
      h3 {
        color: @color-base;
      }
    }
  }
}

// Footer.
footer {
  .background-gradient(-45deg, @color-base, @color-base-dark);
  .social {
    a {
      border: 2px solid @color-white;
      i {
        color: @color-white;
      }
      &:hover {
        background: @color-white;
        i {
          color: @color-base;
        }
      }
    }
  }
  .rights {
    color: @color-white;
    a {
      color: @color-white;
      font-weight: 300;
      text-decoration: none;
    }
  }
}

.btn {
  &.btn-primary{
    color:@color-base;
    border-color:@color-base;
    &:hover{
      color:@color-white;
      background: @color-base;
      border-color:@color-base;
    }
    &.inverse{
      color:@color-white;
      border-color:@color-white;
      &:hover{
        color:@color-white;
        background: @color-base;
        border-color:@color-base;
      }
    }
  }
  &.btn-default {
    .background-gradient(180deg, @color-white, darken(@color-white, 20%));
    color:@color-base-dark;
    &:hover{
      color:@color-base-dark;
    }
  }
}

.modal-body {
  padding: 25px 15px;
}
