.animate-layer(@animation-in, @animation-out) {
  &.lr-animation {
    -webkit-animation: @animation-in, @animation-out;
    animation: @animation-in, @animation-out;
  }
}

.keyframes(@name, @frames) {
  @-webkit-keyframes @name {@frames();}
  @keyframes @name {@frames();}
}

.transform(@string) {
  -webkit-transform: @string;
  -ms-transform: @string;
  transform: @string;
}

.background-cover(){
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.background-gradient(@deg: 0deg, @first-color, @second-color ) {
  background: @first-color;
  background: -moz-linear-gradient(@deg, @first-color 0%, @second-color 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, @first-color), color-stop(100%, @second-color));
  background: -webkit-linear-gradient(@deg, @first-color 0%, @second-color 100%);
  background: -o-linear-gradient(@deg, @first-color 0%, @second-color 100%);
  background: -ms-linear-gradient(@deg, @first-color 0%, @second-color 100%);
  background: linear-gradient(@deg, @first-color 0%, @second-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@first-color, endColorstr=@second-color, GradientType=1);
}




