
@font-stack: Lato, Arial;

//@color-base: #999;
//@color-base-dark: #555;

@color-white: #fff;
@color-light-grey: #999;
@color-dark-grey: #666;

@screen-xs-min: 480px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

