@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import '_vars.less';
@import '_lib.less';

body {
  font-family: @font-stack;
  color:@color-dark-grey;
  -webkit-font-smoothing: antialiased;
}

a {
  font-family: @font-stack;
  -webkit-font-smoothing: antialiased;
  &:focus {
    outline: none;
  }
}

div.content {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:@color-dark-grey;
}

.form-item,
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}
