body.od-theme-freeze header {
  background: #66cdcc;
  background: -moz-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66cdcc), color-stop(100%, #336799));
  background: -webkit-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  background: -o-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  background: -ms-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66cdcc, endColorstr=#336799, GradientType=1);
}
body.od-theme-freeze header .main-navbar.scrolled {
  box-shadow: 0 2px 5px #336799;
}
body.od-theme-freeze header .main-navbar.scrolled .navbar-header {
  background-color: #336799;
}
@media (min-width: 768px) {
  body.od-theme-freeze header .main-navbar.scrolled .nav li a {
    color: #336799;
  }
  body.od-theme-freeze header .main-navbar.scrolled .nav li a:hover:after {
    background-color: #336799;
  }
}
@media (max-width: 767px) {
  body.od-theme-freeze header .navbar-collapse.collapsing,
  body.od-theme-freeze header .navbar-collapse.in {
    background-color: #336799;
  }
}
body.od-theme-freeze section .section-heading .divider:after {
  background: #66cdcc;
}
body.od-theme-freeze section#about .about-item i.fa {
  border: 2px solid #66cdcc;
  color: #66cdcc;
}
body.od-theme-freeze section#about .about-item:hover i.fa {
  color: #fff;
  background: #66cdcc;
}
body.od-theme-freeze section#about .about-item:hover h3 {
  color: #66cdcc;
}
body.od-theme-freeze section#features {
  background: #f6f6f6;
}
body.od-theme-freeze section#features header h1:after {
  background: #66cdcc;
}
body.od-theme-freeze section#features .media i.fa {
  border: 2px solid #66cdcc;
  color: #66cdcc;
}
body.od-theme-freeze section#features .media:hover i.fa {
  color: #fff;
  background: #66cdcc;
}
body.od-theme-freeze section#features .media:hover h3 {
  color: #66cdcc;
}
body.od-theme-freeze section#features .media.active i.fa {
  color: #fff;
  background: #66cdcc;
}
body.od-theme-freeze section#features .media.active .media-heading {
  color: #66cdcc;
}
body.od-theme-freeze section#reviews {
  background: url('../../images/freeze/bk.jpg');
}
body.od-theme-freeze section#reviews header {
  color: #fff;
}
body.od-theme-freeze section#reviews header h1:after {
  background: #fff;
}
body.od-theme-freeze section#reviews .review .review-person img {
  border: 3px solid #fff;
}
body.od-theme-freeze section#reviews .review .review-comment {
  background: #fff;
}
body.od-theme-freeze section#reviews .review .review-comment h3 {
  color: #66cdcc;
}
body.od-theme-freeze section#reviews .review .review-comment p span i {
  color: #66cdcc;
}
body.od-theme-freeze section#reviews .review .review-comment:before {
  border-bottom-color: #fff;
}
body.od-theme-freeze section#reviews .review .review-comment:after {
  border-right-color: #fff;
}
body.od-theme-freeze section#reviews .slick-dots li button {
  background: #fff;
  border: 2px solid #fff;
}
body.od-theme-freeze section#reviews .slick-dots li.slick-active button {
  background: #66cdcc;
}
body.od-theme-freeze section#screens header h1:after {
  background: #66cdcc;
}
body.od-theme-freeze section#screens .slider div img {
  border: 2px solid #e5e5e5;
}
body.od-theme-freeze section#screens .slider div h4 {
  color: #999;
}
body.od-theme-freeze section#screens .slider .slick-prev:before,
body.od-theme-freeze section#screens .slider .slick-next:before {
  color: #66cdcc;
}
body.od-theme-freeze section#demo {
  background: #f6f6f6;
}
body.od-theme-freeze section#demo header h1:after {
  background: #66cdcc;
}
body.od-theme-freeze section#get-app {
  background: url('../../images/freeze/bk-ga.jpg');
}
body.od-theme-freeze section#get-app header {
  color: #fff;
}
body.od-theme-freeze section#get-app header h1:after {
  background: #fff;
}
body.od-theme-freeze section#get-app .platforms .media {
  border: 2px solid #fff;
  color: #fff;
}
body.od-theme-freeze section#get-app .platforms .media a i {
  color: #fff;
}
body.od-theme-freeze section#get-app .platforms .media a div.media-body {
  color: #fff;
}
body.od-theme-freeze section#get-app .platforms .media:hover {
  background: #fff;
}
body.od-theme-freeze section#get-app .platforms .media:hover a i,
body.od-theme-freeze section#get-app .platforms .media:hover a div.media-body {
  color: #66cdcc;
}
body.od-theme-freeze section#support .form-text,
body.od-theme-freeze section#support .form-email,
body.od-theme-freeze section#support .form-textarea {
  border-color: #66cdcc;
}
body.od-theme-freeze section#support .form-text:focus,
body.od-theme-freeze section#support .form-email:focus,
body.od-theme-freeze section#support .form-textarea:focus {
  box-shadow: 1px 1px 2px #66cdcc, -1px -1px 2px #66cdcc;
}
body.od-theme-freeze section#support header h1:after {
  background: #66cdcc;
}
body.od-theme-freeze section#support .media i.fa {
  border: 2px solid #66cdcc;
  color: #66cdcc;
}
body.od-theme-freeze section#support .media a {
  color: #66cdcc;
}
body.od-theme-freeze section#support .media:hover i.fa {
  color: #fff;
  background: #66cdcc;
}
body.od-theme-freeze section#support .media:hover h3 {
  color: #66cdcc;
}
body.od-theme-freeze footer {
  background: #66cdcc;
  background: -moz-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66cdcc), color-stop(100%, #336799));
  background: -webkit-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  background: -o-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  background: -ms-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66cdcc, endColorstr=#336799, GradientType=1);
}
body.od-theme-freeze footer .social a {
  border: 2px solid #fff;
}
body.od-theme-freeze footer .social a i {
  color: #fff;
}
body.od-theme-freeze footer .social a:hover {
  background: #fff;
}
body.od-theme-freeze footer .social a:hover i {
  color: #66cdcc;
}
body.od-theme-freeze footer .rights {
  color: #fff;
}
body.od-theme-freeze footer .rights a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}
body.od-theme-freeze .btn.btn-primary {
  color: #66cdcc;
  border-color: #66cdcc;
}
body.od-theme-freeze .btn.btn-primary:hover {
  color: #fff;
  background: #66cdcc;
  border-color: #66cdcc;
}
body.od-theme-freeze .btn.btn-primary.inverse {
  color: #fff;
  border-color: #fff;
}
body.od-theme-freeze .btn.btn-primary.inverse:hover {
  color: #fff;
  background: #66cdcc;
  border-color: #66cdcc;
}
body.od-theme-freeze .btn.btn-default {
  background: #fff;
  background: -moz-linear-gradient(180deg, #fff 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fff), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(180deg, #fff 0%, #cccccc 100%);
  background: -o-linear-gradient(180deg, #fff 0%, #cccccc 100%);
  background: -ms-linear-gradient(180deg, #fff 0%, #cccccc 100%);
  background: linear-gradient(180deg, #fff 0%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#cccccc, GradientType=1);
  color: #336799;
}
body.od-theme-freeze .btn.btn-default:hover {
  color: #336799;
}
body.od-theme-freeze .modal-body {
  padding: 25px 15px;
}
/*# sourceMappingURL=freeze.css.map */